.siteNavbar_ {
    padding-top: 0.98rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    .inner {
        background: white ;
        box-shadow: 0 0 8px #4e4e4e8a;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 133rem;
        > .leftLinks {
            background: url("../../images/navbar/left-side-background.svg");
            background-size: cover;
            background-position: 100% 0;
            background-repeat: no-repeat;
            padding: 0 7.3rem 0 5.2rem;
            display: flex;
            align-items: center;
            > a {
                margin-left: 3rem;
                display: flex;
                align-items: center;
                color: white;
                font: 600 1.3rem/2.5rem Montserrat, sans-serif;
                text-transform: uppercase;
                text-decoration: none;
                > img {
                    width: 1.6rem;
                    margin-right: 0.7rem;
                }
                &:first-child{
                    margin-left: 0;
                }
            }
        }
        > .mainLogo {
            height: 6rem;
            width: 16.3rem;
            position: relative;
            > img {
                height: 7.5rem;
                position: absolute;
                top: -0.75rem;
            }
        }
        > .rightLinks {
            display: flex;
            align-items: center;
            > a {
                display: flex;
                align-items: center;
                color: rgb(0, 0, 0);
                font: 600 1.2rem/2.5rem Montserrat, sans-serif;
                margin-right: 2rem;
                text-decoration: none;
                &.userLink {
                    margin-right: 1.6rem;
                }
            }
        }
    }
}
