.preference_{
    margin-right: 9rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font: 300 1.4rem/2rem Montserrat, sans-serif;

    > img{
        margin-right: 0.8rem;
    }
}