.OrderDetailsHeader_{
    height: 6rem;
    position: relative;
    .inner{
        position: absolute;
        bottom: 0;
        height: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: max-content;
        padding: 0 16.5rem 0 calc(50% - 56.6rem);
        background-image: url("../../images/order-details/white-polygon.svg");
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;
        > h1{
            margin: 0;
            font: 500 5rem/5rem 'playfair-display', sans-serif;
        }
        > div{
            margin-top: 1rem;
            font: 300 1.3rem/1.3rem 'Montserrat', sans-serif;
        }
    }
}