.customSelect{
    .customSelect__option{
        &:hover{
            background-color: white;
            color: black;
            font-weight: 600;
        }
    }
}

.autocomplete-container {
    position: relative;
    color: red;
    border: 1px solid red;
}


// .sticky{
//     position: fixed;
//     top: 0;
//     width: 100%
// }