@mixin bottomBorderInput {
    border: none;
    border-bottom: 1px solid #808080;
    outline: none;
    background: transparent;
    color: white;
    font: 400 1.4rem/1.8rem Montserrat, sans-serif;
    padding: 0.65rem 0;
    border-radius: 0;
    &::placeholder {
        color: #f7f7f7;
    }
    &:focus {
        border-color: #4bd7dd;
    }
}

.validationError{
    margin-top: 0.3rem;
    color: red;
    font: 400 1.2rem/1.5rem Montserrat, sans-serif;

}

.mockup {
    padding-bottom: 10rem;
    background: rgb(0, 0, 0);
    > .onboardingBanner {
        height: 50rem;
        background: url("../../images/order-details/\ back.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .yourDetailsWrap {
        margin-top: 9.5rem;
        display: flex;
        justify-content: center;
        .inner {
            width: 100%;
            max-width: 113.2rem;
            > h4 {
                margin: 0;
                font: 600 1.4rem/1.8rem Montserrat, sans-serif;
                color: white;
            }
            .inputs2row {
                margin-top: 3.35rem;
                display: flex;
                align-items: flex-start;
                 > .inputWrapper{
                    margin-right: 4.4rem;
                    width: 34.8rem;
                    > input {
                        width: 100%;
                        @include bottomBorderInput;
                    }
                 }
                 > input {
                    margin-right: 4.4rem;
                    width: 34.8rem;
                    @include bottomBorderInput;
                }
            }
        }
    }
    .yourAddressWrap {
        margin-top: 6.45rem;
        display: flex;
        justify-content: center;
        .inner {
            width: 100%;
            max-width: 113.2rem;
            > h4 {
                margin: 0;
                font: 600 1.4rem/1.8rem Montserrat, sans-serif;
                color: white;
            }
            .countryRow {
                width: 34.8rem;
                margin-top: 3.35rem;
            }
            .searchAddressRow {
                margin-top: 3.75rem;
                width: 74rem;
            }
            .addressLinesRow {
                margin-top: 5.9rem;
                display: flex;
                > .inputWrapper{
                    margin-right: 4.4rem;
                    width: 34.8rem;
                    > input {
                        width: 100%;
                        @include bottomBorderInput;
                    }
                 }
            }
            .townOrStateRow {
                margin-top: 3.85rem;
                display: flex;
                > .inputWrapper{
                    margin-right: 4.4rem;
                    width: 34.8rem;
                    > input {
                        width: 100%;
                        @include bottomBorderInput;
                    }
                 }
            }
            .postalCodeRow {
                margin-top: 3.85rem;
                > .inputWrapper{
                    width: 34.8rem;
                    > input {
                        width: 100%;
                        @include bottomBorderInput;
                    }
                 }
            }
        }
    }
    .yourPreferencesWrap {
        margin-top: 6.45rem;
        display: flex;
        justify-content: center;
        .inner {
            width: 100%;
            max-width: 113.2rem;
            > h4 {
                margin: 0;
                font: 600 1.4rem/1.8rem Montserrat, sans-serif;
                color: white;
            }
            .preferencesAndButtonWrap {
                display: flex;
                align-items: center;
                .leftPreferences {
                    .title {
                        font: 300 1.6rem/2.5rem Montserrat, sans-serif;
                        color: white;
                    }
                    .listOfPreferences {
                        margin-top: 1.6rem;
                        display: flex;
                        color: white;
                    }
                }
                .slashIcon {
                    width: 6.2rem;
                }
                .saveButton {
                    margin-left: 3rem;
                    height: 5rem;
                    display: flex;
                    align-items: center;
                    background: black;
                    color: black;
                    border: none;
                    font: 600 1.4rem/1.8rem Montserrat, sans-serif;
                    padding: 0 8.8rem 0 9.5rem;
                    background-image: url("../../images//order-details/save-button-back.svg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: left center;
                    cursor: pointer;
                }
            }
        }
    }
}
